files/.vscode/settings.json
files/PCtoLCD2002/ASC.PTL
files/PCtoLCD2002/Gb2312.PTL
files/PCtoLCD2002/readme2002.txt
files/PCtoLCD2002/PCtoLCD2002.INI
files/PCtoLCD2002/notice.txt
files/PCtoLCD2002/ascii_index.TXT
files/PCtoLCD2002/ascii.TXT_index.TXT
files/PCtoLCD2002/_index.TXT
files/PCtoLCD2002/VCL60.BPL
files/PCtoLCD2002/RTL60.BPL
files/PCtoLCD2002/PCtoLCD2002.exe
files/PCtoLCD2002/test.txt
files/polling.txt
files/PCtoLCD2002/test.bin
files/polling.bin
docs/Lab6.md
